{% extends "BaseBlock.html.twig" %}

    {% block document_title %}
        {% trans %}An error encountered!{% endtrans %}
    {% endblock %}

    {% block document_content %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-exclamation-triangle fa-lg"></i> {% trans %}An error encountered!{% endtrans %}</h3>
            </div>
            
            {{ error_message }}
        </div>

        <a href="{{ config.full_url }}" class="btn btn-primary"><i class="fa fa-home"></i> {% trans %}Return to index page{% endtrans %}</a>
    {% endblock %}