<div class="checkbox">
    <label>
        <input class="checkbox" value="1" checked="checked" name="post_checkbox_line_numbering" type="checkbox"> {% trans %}Line numbering{% endtrans %}
    </label>
</div>
<hr />
<div class="form-group">
    <label for="__startfromline">{% trans %}Start from line{% endtrans %}</label>
    <input type="text" pattern="\d+" autocomplete="off" name="post_start_from_line" class="form-control" id="__startfromline" placeholder="{% trans %}Enter number...{% endtrans %}">
</div>