<div class="checkbox">
    <input id="line_numbering" class="checkbox" value="1" checked="checked" name="post_checkbox_line_numbering" type="checkbox"> 
    <label class="fa" for="line_numbering"><span class="font">{% trans %}Line numbering{% endtrans %}</span></label>
</div>
<hr />
<div class="form-group">
  <label for="__startfromline">{% trans %}Start from line (optional){% endtrans %}</label>
  <input type="text" pattern="\d+" autocomplete="off" name="post_start_from_line" class="form-control" id="__startfromline" placeholder="{% trans %}Enter number...{% endtrans %}">
</div>