{% extends "BaseBlock.html.twig" %}

  {% block document_title %}{% trans %}Rules{% endtrans %}{% endblock %}

  {% block breadcrumb %}
    {{ breadcrumb.add(block('document_title'), build_url('rules')) }}
  {% endblock %}

  {% block document_content %}
    {% set site_url = config.full_url %}

    <h3>{% trans %}Terms and Conditions{% endtrans %}</h3>
    <div style="padding: 10px;">
      {% include 'Text/Rules.html.twig' %}
    </div>
  {% endblock %}