@import "variables";
@import "mixins";
@import "bootstrap-customize";
@import "navbar";
@import "entity";
@import "user";

@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:400,700&subset=latin-ext);

* {
  outline: 0 !important;
}

input, textarea {
  font-family: 'Consolas' !important;
}

html, body {
  height: 100%;
  background: #F2F2F2;
}

pre {
  padding: 0 !important;
  border: 1px #CDCDCD solid !important;
  border-radius: 0 !important;
}

.btn-link-trasparent {
  background: transparent;
}

.hljs {
  padding: 15px !important;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
  background: #F2F2F2;
}

.brand-logo {
  display: inline;
  color: #5C5C5C;

  & img {
    width: 34px;
    height: auto;
  }
}

.container-space {
  margin: 0 0 150px 0;
}

.confirmation-text {
  font-size: 16px;
  text-align: center;
}

footer {
  background: #808080;
  padding: 15px 0 15px 0;
  width: 100%;
  color: #fff;

  & a,
  & a:hover,
  & a:active {
    color: #fff;
    text-decoration: none;    
  }
}
