.navbar {
  padding: 14px 0 14px 0;
}

.navbar-menu {
  margin: 0 0 15px -15px;

  & > .btn {
    padding: 8px 15px 8px 15px;
    background: #fff;
    color: #737373;

    &:hover {
      & > .fa-heart {
        color: #99D46C;
      }

      background: #EBEBEB;
      border-bottom: 1px #337ab7 solid;
      text-decoration: none;
      color: #5C5C5C;
    }

    &:active,
    &:visited,
    &:focus {
      background: #EBEBEB;
      text-decoration: none;
    }
  }
}

.navbar-user {
  font-size: 16px;
  color: #8A8A8A;
  padding: 10px 0 0;

  & > img {
    margin-right: 3px;
    vertical-align: middle;
  }
}

.navbar-guest {
  font-size: 16px;
  padding: 5px 0 0;

  & > .btn {
    padding: 5px 0 0 15px;
  }

  & a {
    text-decoration: none !important;

    &:hover,
    &:active,
    &:visited {
      text-decoration: none !important;
    }
  }
}
