$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$cursor-disabled: default;

$navbar-default-color: #fff;
$navbar-height: 42px;
$navbar-default-bg: #006FB0;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #E4E4E4;
$navbar-default-link-hover-bg: #0088D6;
$navbar-default-link-active-color: #fff;