{% extends "BaseBlock.html.twig" %}

  {% block document_title %}{% trans %}404 Page not found{% endtrans %}{% endblock %}

  {% block breadcrumb %}
    {{ breadcrumb.add(block('document_title')) }}
  {% endblock %}

  {% block document_content %}
    <div class="pull-left error_exclamation">
      <i class="fa fa-exclamation-triangle"></i>
    </div>

    <h3 style="color: #808080">{% trans %}404 Page not found{% endtrans %}</h3>

    <h4>{% trans %}SimPas couldn't locate the page you're requesting to view{% endtrans %}</h4>

    <div class="return_to_index">
      <a href="{{ build_url() }}" class="btn btn-primary"><i class="fas fa-home"></i>&nbsp;{% trans %}Return to index page{% endtrans %}</a>
    </div>
  {% endblock %}