@import url('./bootstrap.min.css');
@import url('./font-awesome.min.css');
@import url('./chosen.css');

body {
  background: #fff;
}

@media print {
  body * {
    visibility: hidden;
  }

  #zclip_copy *, 
  .pre_code {
    visibility: visible;
  }

  .container, 
  #zclip_copy {
    position: absolute;
    top: 1px;
  }

  pre {
    overflow: visible;
  }
}

.progress {
  position: absolute;
  width: 100%;
  height: 0px;
  margin: 0;
  z-index: 9999;
  border-radius: 0;
}

.progress-bar {
  height: 6px;
}

.progress.active .progress-bar {
  animation-duration: 0.30s;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus,
input[type="url"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus,
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #C9C9C9 !important;
  outline: none !important;
}

.font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.checkbox {
  padding-left: 5px;
  margin-bottom: 0;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\f096\00a0";
  font-size: 17px;
  color: #A8A8A8;
  transition: all 0.15s ease-in;
}

input[type=checkbox]:checked + label:before {
  content: "\f046\00a0";
  font-size: 17px;
  color: #499BD1;
  transition: all 0.15s ease-in;
}

.link_underline a {
  text-decoration: underline !important;
}

ol, ol a {
  color: #9C9C9C;
  text-decoration: none;
}

ol a:hover {
  color: #6B6B6B;
  text-decoration: none;
}

ol div {
  color: #000000;
  padding: 5px;
}

.line_active {
  color: #000;
  background: #E8E8E8;
}

.list-inline > li {
  padding: 0;
}

.list-inline {
  margin-left: 0;
}

.header_items {
  border-radius: 0;
  box-shadow: none;
  padding: 5px;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.wrap_content {
  background: #fff;
  padding: 10px;
}

.paste_title {
  font-size: 18px;
  float: left;
  margin-right: 9px;
}

.navbar {
  background: #53728C;
  border-bottom: none;
  margin-bottom: 0;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-toggle {
  color: #fff;
  border: 1px #719CBF solid !important;
}

.navbar-toggle:hover, 
.navbar-toggle:active,
.navbar-toggle:focus {
  background: #5F83A1 !important;
}

.navbar-inner {
  box-shadow: none !important;
  border-bottom: 1px #D6D6D6 solid;
}

.navbar .nav > li > a {
  padding: 6px 10px 6px 10px;
  margin: 10px 4px 10px 4px;
  color: #fff !important;
  float: left;
  font-weight: bold;
}

.navbar .nav > li > a:focus {
  color: #ABC2D4 !important;
}

.navbar .nav > li > a:hover {
  color: #DEF1FF !important;
  transition: all 0.15s ease-in;
}

.muted_font {
  color: #BFBFBF;
}

.syntax_highlight_option {
  padding: 0;
  margin: 0 auto;
}

.main_button {
  background: #545454;
  color: #fff;
  width: 166px;
}

.main_button:hover {
  background: #4A4A4A;
  transition: all 0.15s ease-in;
  color: #fff;
}

.button_private {
  background: #AB824F;
}

.button_private:hover {
  background: #C29359;
  transition: all 0.15s ease-in;
}

.main_button:focus, .main_button:visited {
  color: #fff;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 11px;
  text-align: right;
  color: #595959;
}

.copyright a {
  color: #595959;
  text-decoration: none;
}

.options_button {
  color: #2F6488;
}

.popover, .modal-content {
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 0;
}

.modal-backdrop {
  background: none;
}

.btn {
  font-weight: bold;
  transition: all 0.15s ease-in;
}

.btn-primary {
  background: #fff;
  border: 1px #D6D6D6 solid !important;
  color: #2F6488;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .hover {
  background: #2F6488;
  color: #fff;
  border: 1px #2F6488 solid !important;
  transition: all 0.15s ease-in-out;
}

.disabled {
  color: #fff;
}

.pre_code {
  background: #FAFAFA;
  border: 1px #DEDEDE solid;
  line-height: 5px;
}

.chars_left:focus {
  border: 1px red solid !important;
}

.tooltip {
  z-index: 50000 !important;
}

.to_top a {
  margin: 0 8px 0 0;
}

.error_exclamation {
  color: #EBD065;
  margin: 0 15px 0 0;
  font-size: 110px;
}

.return_to_index {
  margin: 15px 0 0 0;
}

.author_website {
  padding: 0;
  background-color: #fff;
  border: none;
}

.author_website input[type="url"] {
  height: 34px;
  padding: 6px 12px;
  border: 1px solid #CCC;
  margin-left: -2px;
  width: 201px;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

@media (max-width: 767px) {
  .input_percent {
    width: 100%;
    margin: 8px 0 8px 0;
  }
}

@media (min-width: 768px) {
  .input_percent {
    width: 49%;
  }
}

.breadcrumb {
  padding: 0;
  background: #353535;
  border-radius: 0;
}

.breadcrumb li {
  color: #fff;
  padding-top: 10px;
  font-size: 16px;
}

.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #E5E5E5;
  text-decoration: none;
}

.last:after {
  content: "\00a0" !important;
}

.breadcrumb li:after {
  content: "\00a0\f054";
  margin: 0 6px 0 6px;
}

.breadcrumb li:last-child:after {
  content: "\00a0";
  margin: 0 6px 0 6px;
}

.latest {
  border-bottom: 1px #E3E3E3 dotted;
}

.latest:last-child {
  border-bottom: none;
}

.latest h3 {
  font-size: 18px;
}

.latest_hot {
  float: left;
  font-size: 36px;
  margin: 0 5px 0 -41px;
  color: #FFB700;
}

.latest_author {
  color: #707070;
}

.latest_website {
  float: right;
  background: #F0F0F0;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  color: #7D7D7D;
}

.latest_website:hover {
  background: #53728C;
  transition: all 0.15s ease-in-out;
  color: #fff;
}

.latest_syntax {
  margin: 0 10px 0 0;
}

.tooltip-inner {
  padding: 9px;
  border-radius: 0;
  font-size: 11px;
  text-transform: uppercase;
}